DISCORD_TOKEN=your_discord_bot_token_here
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/?appName=Cluster0
GOOGLE_BOOKS_KEY=your_google_books_api_key_here
GUILD_ID=your_discord_server_id_here
ANNOUNCE_CHANNEL_ID=1517151054246973611
BOOKCLUB_CHANNEL_ID=your_bookclub_channel_id_here
